.jj-sidebar{
    width: 100%; !important
}

.jj-sidebar ul li {
    
    font-size: 20px;
    line-height: 1.8; 
    
}

.card.small {
    height: 150px; !important

}

.card {
    background-color: #EEE; !important
    width: 100px; !important
}

.jj-center {
    margin-left: auto; !important
    margin-right: auto; !important
}

.jj-padding {
    padding-left: 15px !important
}

.breadcrumb:before {
    color: #1565c0 !important
}